*{
    font-family: 'Montserrat', sans-serif;
}
:root{
    --background-1: #2c3e50;
    --background-2: #1abc9c;
}
.wrapper{
    background-color: var(--background-1);
}
.wrapper button{
    float: right;
    margin-right: 12px;
}
.wrapper .list-social{
    float: right;
    font-size: 18px;
    padding: 6px;
}
.list-social a{
    text-decoration: none;
    color: inherit;
}
.btn-carts{
    background-color: #21303f;
    font-weight: 800;
}
#navb{
    background-color: white;
    z-index: 100;
    padding-left: 10% !important;
}
.menu-primary ul{
    list-style: none;
}
.menu-primary ul a{
    text-decoration: none;
    color: inherit;
}
.menu-primary ul li{
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 16px 16px 0px 16px;
}
.menu-primary ul li:nth-child(2){
    display: none;
}
#btn-menu-responsive{
    margin-left: 80px !important;
    display: none;
}
#menu-responsive-area{
    display: none;
    width: 0%;
    height: 100%;
    padding:40px 20px;
    background-color: var(--background-1);
    z-index: 10;
    position: fixed;
    top: 0;
    z-index: 1000;
    /* transform: scale(0.1); */
}
@media only screen and (max-width: 600px) {
    #btn-menu-responsive{
        display: block;
    }
    #navb{
        padding-left: 1rem !important;
    }
    .menu-primary ul li:nth-child(2){
        display: block;
    }
    .menu-primary:nth-child(2) ul li:not(:first-child){
        display: none !important;
    }
    .menu-primary:last-child{
        margin-left: 0px !important;
    }
    .menu-primary:last-child ul{
        padding-left: 16px !important;
    }
    .menu-primary:last-child ul li{
        display: block !important;
    }
    .menu-primary:last-child ul a{
        color: white;
    }
    .product-action a{
        margin: 0 !important;
        /* float: left !important; */
        margin-top: 4px !important;
    }
    .product-action a:first-child{
        margin-right: 30px !important;
    }
    .backgroud1-title2{
        font-size: 40px !important;
    }
}
.owl-dots{
    position: relative;
    margin-top: -30px !important;
}
.owl-dot span{
    width: 30px !important;
}
.slider-custom-1{
    background-color: var(--background-1);
}
.slider-custom-1 .slider-custom-1-child{
    width: 100%;
    border: 5px solid white;
}
.slider-custom-1-child h4{
    text-transform: uppercase;
    font-weight: 600;
}
.product-area .title-product-area{
    text-transform: uppercase;
    font-weight: 600;
}
.title-product-area span{
    width: 30px;
    height: 30px;
    background-color: var(--background-2);
    display: inline-block;
    position: relative;
    top: 6px;
}
.product{
    border: 1px solid #eceef0;
    cursor: pointer;
}
.product-view-more{
    text-decoration: none;
    float: right;
    font-size: 16px;
}
.product-image{
    overflow: hidden;
    position: relative;
    background-color: red;
}
.product-image img:last-child{
    position: absolute;
    left: 0;
    top: 100%;
    transition: top ease-in .3s;
}
.product-title,.product-price{
    font-weight: 1000;
}
.product-price strike{
    font-size: 16px;
    margin-right: 10px;
    color: var(--background-1);
}
.product-rating{
    color: goldenrod;
}
.product-action{
    font-size: 14px;
    border-top: 1px solid #eceef0;
}
.product-action a:first-child{
    margin-right: 10px;
}
.product-action a:last-child{
    margin-left: 10px;
}
.product-action a{
    color: #474a4d;
    text-decoration: none;
}
.product:hover .product-image img:last-child{
    top: 0;
}
.border-top{
    border-top: 6px solid #eceef0 !important;
}
.slider-hover{
    transition: filter linear .3s;
    cursor: pointer;
}
.slider-hover:hover{
    filter: brightness(0.8);
}
.backgroud1{
    background-image: url(../images/background1.jpg);
    color: white;
}
.backgroud1-title1, .backgroud1-title2{
    font-weight: 1000;
}
.backgroud1-title2{
    font-size: 70px;
    border-top: 10px solid #eceef0;
    border-bottom: 10px solid #eceef0;
}
.backgroud1 button{
    border-radius: 0;
    padding: 20px 40px;
    font-weight: 1000;
    font-size: 22px;
    border-width: 4px;
}
.blog-card{
    display: flex;
}
.blog-card img{
    cursor: pointer;
}
.blog-card-date{
    min-width: 60px;
    height: 60px;
    background-color: var(--background-1);
    color: white;
    padding: 10px;
    position: relative;
    left: -50%;
    display: block;
    text-align: center;
}
.blog-card-date h5, .blog-card-date h6{
    font-weight: 1000;
}
.blog-card-content{
    margin-left: -50px;
}
.blog-card-content a{
    text-decoration: none;
    color: initial;
}
.blog-card-content a h4{
    font-weight: 1000;
}
.blog-card-content p{
    font-size: 14px ;
}
.blog-card-content span{
    cursor: pointer;
    color: var(--background-2);
}
.product-card-mini{
    display: flex;
    text-decoration: none;
    color: initial;
    border: 1px solid #eceef0;
}
.product-card-mini-content h5 {
    font-weight: 1000;
}
.product-card-mini:hover{
    animation: product-card-mini linear 0.3s forwards alternate;
    cursor: pointer;
}
@keyframes product-card-mini {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-30px);
    }
}